{# Contributor: Usman Latif #}
{# Juniper Networks PS      #}
{# June, 2022               #}
{#                          #}
{% if property_sets.fabricbgp[hostname] is defined %}
protocols {
    bgp {
       group UNDERLAY {
         family inet {
            unicast;
         }
         tcp-mss 4000;
         type external;
         export UNDERLAY-EXPORT;
         multipath {
           multiple-as;
         }
         bfd-liveness-detection {
            minimum-interval 1000;
            multiplier 3;
         }
         local-as {{ property_sets.fabricbgp[hostname].localas }};
 {% for intf,iface in interfaces.items() %}
   {% if iface.role == 'spine_leaf' %}
         neighbor {{iface.neighbor_interface.ipv4_address}} {
         description "bgp to {{iface.neighbor_interface.system_hostname}}";
         peer-as {{ property_sets.fabricbgp[iface.neighbor_interface.system_hostname].localas }};
         }
   {% else %}
   {% endif %}
 {% endfor %}
       }
    }   
}
policy-options {
  policy-statement UNDERLAY-EXPORT {
    term 10 {
      from {
        protocol direct;
        route-filter 0/0 prefix-length-range /32-/32;
      }
      then accept;
    }
  }
}
{% else %}
{% endif %}