{# Contributor: Usman Latif #}
{# Juniper Networks PS      #}
{# June, 2022               #}
{#                          #}
{% if property_sets.overlaybgp.model is defined and property_sets.overlaybgp.model == 'crb' %}
protocols {
    bgp {
  {% if property_sets.noderole[hostname] == 'spine' %}
       group RR-CLIENTS {
         family evpn {
            signaling;
         }
         tcp-mss 4000;
         type internal;
         bfd-liveness-detection {
            minimum-interval 3000;
            multiplier 3;
         }
         local-address {{ property_sets.fabricbgp[hostname].rid }};
         cluster {{ property_sets.fabricbgp[hostname].rid }};
    {% for nodes,device in property_sets.fabricbgp.items() %}
      {% if nodes != hostname and property_sets.noderole[nodes] != 'spine' %}
         neighbor {{device.rid}};
      {% else %}
      {% endif %}
    {% endfor %}
       }
  {% else %}     
       group RR {
         family evpn {
            signaling;
         }
         tcp-mss 4000;
         type internal;
         local-address {{ property_sets.fabricbgp[hostname].rid }};
    {% for nodes,device in property_sets.fabricbgp.items() %}
      {% if nodes != hostname and property_sets.noderole[nodes] != 'leaf' %}
         neighbor {{device.rid}};
      {% else %}
      {% endif %}
    {% endfor %}
       }
  {% endif %}
    }
}
interfaces {
  lo0 {
    unit 0 {
      family inet {
        address {{ property_sets.fabricbgp[hostname].rid }}/32;
      }
    }
  }
}
routing-options {
  router-id {{ property_sets.fabricbgp[hostname].rid }};
  autonomous-system {{ property_sets.overlaybgp.bgpasn }};
  forwarding-table {
    export PFE-LB;
    ecmp-fast-reroute;
    chained-composite-next-hop {
        ingress {
          evpn;                   
        }
    }
  }
}
policy-options {
  policy-statement PFE-LB {
    then {
      load-balance per-packet;
    }
  }
}
{% else %}
{% endif %}