{% block system %}
{%- include "system.jinja" %}
{% endblock system %}

{% block interfaces %}
{%- include "interfaces.jinja" %}
{% endblock interfaces %}

{% block protocols %}
{%- include "protocols.jinja" %}
{% endblock protocols %}