routing-options {
    {% if property_sets.get('loopbacks', {}).get(hostname) %}
    router-id {{ property_sets['loopbacks'][hostname] }};
    {% endif %}
    {% if property_sets.get('bgp_asns', {}).get(hostname) %}
    autonomous-system {{ property_sets['bgp_asns'][hostname] }};
    {% endif %}
    forwarding-table {
        export PFE-LB;
        ecmp-fast-reroute;
    }
}