{% set loopback = property_sets.get('loopbacks', {}).get(hostname) %}
{% if loopback %}
interfaces {
    lo0 {
        unit 0 {
            family inet {
                address {{ loopback }}/32;
            }
        }
    }
}
switch-options {
    {% if loopback %}
    vtep-source-interface lo0.0;
    route-distinguisher {{ loopback }}:65534;
    {% endif %}
    {% if 'spine' in system_tags %}
    vrf-target {
        target:100:100;
        auto;
    }
    {% elif 'leaf' in system_tags %}
    vrf-target target:100:100;
    {% endif %}
}
{% endif %}