{% for intf_name, esi_data in function.sorted_dict(property_sets.get('esi', {}).get(hostname, {})) if intf_name in interfaces and 'esi' in interfaces[intf_name].link_tags %}
interfaces {
    {{ intf_name }} {
        esi {
            {{ esi_data['esi_id'] }};
            all-active;
        }
        aggregated-ether-options {
            lacp {
                system-id {{ esi_data['system_id'] }};
            }
        }
    }
}
{% endfor %}