policy-options {
    policy-statement AllPodNetworks {
        term AllPodNetworks-10 {
            from {
                family inet;
                protocol direct;
            }
            then accept;
        }
        term AllPodNetworks-100 {
            then reject;
        }
    }
    policy-statement BGP-AOS-Policy {
        term BGP-AOS-Policy-10 {
            from policy AllPodNetworks;
            then accept;
        }
        term BGP-AOS-Policy-20 {
            from protocol bgp;
            then accept;
        }
        term BGP-AOS-Policy-100 {
            then reject;
        }
    }
    policy-statement PFE-LB {
        then {
            load-balance per-packet;
        }
    }
    {% if property_sets.get('routing_instances', {}).itervalues()|selectattr('systems', 'contains', hostname) %}
    route-filter-list RoutesFromExt {
        0.0.0.0/0 exact;
    }
    route-filter-list RoutesToExt {
        10.0.0.0/8 upto /32;
        192.168.0.0/16 upto /32;
        172.16.0.0/12 upto /32;
    }
    policy-statement RoutesFromExt {
        term RoutesFromExt-permit {
            from {
                family inet;
                route-filter-list RoutesFromExt;
            }
        }
        term RoutesFromExt-reject {
            from family inet;
            then reject;
        }
    }
    policy-statement RoutesToExt {
        term RoutesToExt-permit {
            from {
                family inet;
                route-filter-list RoutesToExt;
            }
        }
        term RoutesToExt-reject {
            from family inet;
            then reject;
        }
    }
    {% endif %}
}