{% for parent_interface, subinterfaces in function.sorted_dict(property_sets.get('bgp_subinterfaces', {}).get(hostname, {})) if parent_interface in interfaces and subinterfaces %}
    {% if loop.first %}
interfaces {
    {% endif %}
    {{ parent_interface }} {
    {# junos_interfaces.jinja explicitly renders 'unit 0' to ensure LLDP operates
       on front-panel ports.  This logical unit 0 must be removed to avoid a
       commit-check failure on VLAN-ID missing on logical unit 0 when the interface
       is moved into flexible-vlan-tagging mode. #}
        delete: unit 0;
        flexible-vlan-tagging;
        native-vlan-id 1;
        mtu 9020;
        {% for subinterface in subinterfaces.itervalues()|sort(attribute='vlan_id') %}
        unit {{ subinterface['vlan_id'] }} {
            {% if subinterface.get('description') %}
            description "{{ subinterface['description'] }}";
            {% endif %}
            vlan-id {{ subinterface['vlan_id'] }};
            family inet {
                address {{ subinterface['ipv4_address'] }};
            }
        }
        {% endfor %}
    }
    {% if loop.last %}
}
    {% endif %}
{% endfor %}